<!DOCTYPE html>
<html lang="en">
<head>
    <title>DB ADMIN MANT-UFO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/coreui.min.css">
<!--===============================================================================================
    <link rel="stylesheet" type="text/css" href="/css/main.css">-->
<!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js" defer></script>
<!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.min.js" defer></script>
<!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/bootstrap.min.js" defer></script>

</head>
<body>
teszt
    <form>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" disabled id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
          </div>
    </form>
</body>
</html>